.spinner {
/* Spinner size and color */
width: 8rem;
height: 8rem;
border-top-color: #219ebc;
border-left-color: #219ebc;

/* Additional spinner styles */
animation: spinner 500ms linear infinite;
border-bottom-color: transparent;
border-right-color: transparent;
border-style: solid;
border-width: 4px;
border-radius: 50%;  
box-sizing: border-box;
display: inline-block;
vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


/* Main Big Loader */

.mainBigLoader {
/* Spinner size and color */
    width: 8rem;
    height: 8rem;
    border-top-color: #219ebc;
    border-left-color: #219ebc;

    /* Additional spinner styles */
    animation: mainBigLoader 500ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;  
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
    
/* Animation styles */
@keyframes mainBigLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Small button loader white */
.smallWhiteLoader {
    /* Spinner size and color */
    width: 1.2rem;
    height: 1.2rem;
    border-top-color: #ffffff;
    border-left-color: #ffffff;

    /* Additional spinner styles */
    animation: smallWhiteLoader 500ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;  
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
    
/* Animation styles */
@keyframes smallWhiteLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* small red loader */

.smallRedLoader {
    /* Spinner size and color */
    width: 1.2rem;
    height: 1.2rem;
    border-top-color: #F44336;
    border-left-color: #F44336;

    /* Additional spinner styles */
    animation: smallRedLoader 500ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;  
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
    
/* Animation styles */
@keyframes smallRedLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* small green loader */

.smallGreenLoader {
    /* Spinner size and color */
    width: 1.2rem;
    height: 1.2rem;
    border-top-color: #4CAF50;
    border-left-color: #4CAF50;

    /* Additional spinner styles */
    animation: smallGreenLoader 500ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;  
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
    
/* Animation styles */
@keyframes smallGreenLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}